# esp_littlefs Repository Owner
# Team Embedded (Sebastian Holder, Jörg Henne, Tanmay Joshi) are the owners of this repository and will be assigned as reviewers on all PRs.
* @holdersn @hennejg @joshity
